:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark light;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000005;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header {
    text-align: center;
    color: #fff;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

#instructions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.instruction-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.instruction-item img {
    width: 40px;
    height: 40px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

#next-piece-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
}

#gameCanvas {
    border: 1px solid white;
}

#nextPieceCanvas {
    border: 1px solid white;
    background-color: black;
}

#timer-container,
#level-container {
    margin-top: 10px;
    color: white;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#touch-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#touch-controls button {
    padding: 15px;
    font-size: 24px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#touch-controls button:active {
    background-color: #555;
}

/* Ocultar los controles táctiles en pantallas más grandes que 768px */
@media (min-width: 769px) {
    #touch-controls {
        display: none;
    }
}

@media (max-width: 768px) {
    #game-container {
        flex-direction: row;
        /* Mantén los elementos en una fila */
        align-items: flex-start;
    }

    #main {
        display: flex;
        flex-direction: row;
        /* Mantén la dirección en fila */
        gap: 20px;
    }

    #next-piece-container {
        align-items: flex-start;
        /* Alinea los elementos a la izquierda */
    }

    footer {
        flex-direction: column;
        /* Cambia a columna para el footer */
        gap: 10px;
        align-items: center;
        max-width: 100%;
    }

    #instructions {
        display: none;
        /* Ocultar instrucciones en pantallas pequeñas */
    }

    #touch-controls {
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        width: 100%;
        /* Asegura que los botones tomen el ancho completo */
    }
}