:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark light;
    color: rgba(255, 255, 255, 0.87);
    background-color: black;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header {
    text-align: center;
    color: #fff;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

#instructions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.instruction-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.instruction-item img {
    width: 40px;
    height: 40px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

#next-piece-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
}

#gameCanvas {
    border: 1px solid white;
}

#nextPieceCanvas {
    border: 1px solid white;
    background-color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#timer-container,
#level-container {
    margin-top: 10px;
    color: white;
    text-align: center;
}